* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

main {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 90vh;
    margin: 50px 80px 50px 80px;
    border-radius: 10px;
    padding: 0 30px 30px 30px;
    padding-right: 30px;
}

.title {
    margin-top: 10px;
}

#addItems {
    margin-top: 10px;
}

.container-items {
    margin-top: 30px;
    width: 500px;
}

.newDiv {
    padding: 7px;
    border-radius: 10px;
    background-color: lightblue;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.items {
    font-size: 1em;
    overflow: auto;
    margin-right: 5px;
}

.checkBoxes {
    margin-right: 5px;
}

@media (max-width: 600px) {
    main {
        width: 300px;
    }
    
    .container-items {
        margin-top: 30px;
        width: 220px;
    }
    #addItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #buttomAdd {
        height: 30px;
        width: 100px;
    }
}

@media (max-width: 310px) {
    main {
        width: 250px;
    }
}