* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 580px;
}

.boxInputValues{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 120px;
    border: solid black 1px;
    padding: 10px 0;
    gap: 5px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

#modifiableBox {
    width: 250px;
    height: 250px;
    border: solid green 2px;
    background-color: green;
}

.copytext {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#border-radius-properties{
    font-family: 'Courier New', Courier, monospace;
}